$color-1: #4f2d81;
$color-2: #fafafa;
$color-3: #3f3f3f;
$color-4: #858585;
$color-5: #ffde20;
$titulo: 2.1875rem;
$texto-1: 1.75rem;
$texto-2: 1.25rem;
$letter-spacing: 0.0625rem;

.formulario {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  gap: 1.25rem;
  padding: 0 3.125rem;
  margin-bottom: 1.875rem;
  &__range,
  &__btn-simular {
    grid-column: span 2;
  }
  &__grupo {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    width: 100%;
    &-label {
      font-size: 1.5625rem;
      font-weight: 600;
      color: $color-1;
    }
    &-input {
      height: 2.8125rem;
      line-height: 2.8125rem;
      padding: 0.625rem;
      border: solid 0.125rem $color-4;
      border-radius: 0.5rem;
      &--modifire {
        width: 16%;
      }
      &:focus {
        outline: none;
        border: solid 0.125rem $color-1;
        box-shadow: 0rem 0rem 0.625rem 0.125rem rgba(0, 0, 0, 0.5);
      }
    }
    &-span {
      font-size: 1.5625rem;
    }
    &-select {
      height: 2.8125rem;
      line-height: 2.8125rem;
      border-radius: 0.5rem;
      width: 50%;
      border: solid 0.125rem $color-4;
      &:focus {
        border: solid 0.125rem $color-1;
      }
    }
  }
  &__btn-simular {
    padding: 0.625rem 1.875rem;
    width: 30%;
    background-color: $color-1;
    color: $color-2;
    border: none;
    border-radius: 0.5rem;
    font-size: 1.875rem;
    transition: all 0.3s ease;
    &:hover {
      box-shadow: 0rem 0rem 0.625rem 0.125rem rgba(0, 0, 0, 0.5);
      transition: all 0.3s ease;
    }
  }
}
