$color-1: #4f2d81;
$color-2: #fafafa;
$color-3: #3f3f3f;
$color-4: #858585;
$color-5: #ffde20;
$titulo: 2.1875rem;
$texto-1: 1.75rem;
$texto-2: 1.25rem;
$letter-spacing: 0.0625rem;

.menu {
  background: white;
  height: 7.5rem;
  display: flex;
  align-items: center;
  box-shadow: 0rem 0.125rem 0.3125rem 0rem rgba(0, 0, 0, 0.2);
  margin-bottom: 1.875rem;
  &__contenedor {
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__link {
    font-size: 1.75rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 1.25rem;
    color: #c9c9c9;
    transition: all 0.3s ease;
    &:hover {
      color: $color-1;
      transition: all 0.3s ease;
    }
  }
  &__img {
    width: 9.375rem;
    height: auto;
  }
}
